<div class="au-c-table-wrapper">
  <table class="au-c-table" data-test-table ...attributes>
    <thead class="au-c-table__header" data-test-table-header>
    {{yield to='header'}}
    </thead>
    <tbody class="au-c-table__body" data-test-table-body>
    {{yield to='body'}}
    </tbody>
  </table>
</div>