<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-5-6 au-u-2-3@medium">
        <Metis::ResourcePage
          @model={{@model}}
          @controller={{this}} />
      </div>
    </div>
  </div>
</div>