.au-u-2-3 {
  width: 66.6666666667% !important;
}

.au-u-5-6 {
  width: 83.3333333333% !important;
}

@media (min-width: 63.9375em) {
  .au-u-2-3\@medium {
    width: 66.6666666667% !important;
  }
}

.au-u-h3 {
  font-size: var(--au-h3-small) !important;
  line-height: var(--au-global-line-height) !important;
}

@media (min-width: 63.9375em) {
  .au-u-h3 {
    font-size: var(--au-h3) !important;
    line-height: var(--au-global-line-height) !important;
  }
}


.au-u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.au-u-light {
  font-weight: var(--au-light) !important;
}

.au-u-margin-bottom {
  margin-bottom: 2.4rem !important;
}

.au-u-margin-bottom-small {
  margin-bottom: 1.2rem !important;
}

.au-u-margin-bottom-large {
  margin-bottom: 4.8rem !important;
}

.au-u-margin-top-tiny {
  margin-top: 0.6rem !important;
}

.au-u-muted {
  color: var(--au-gray-700) !important;
}

.au-u-word-break {
  word-break: break-word !important;
}

.au-u-word-break-all {
  word-break: break-all !important;
}
